# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [2]:
a_number = 6
print (a_number)
type (a_number)

6

int

# Assinging float

In [1]:
aFloat = 3.14
print(aFloat)
type(aFloat)

3.14

float

#### Performing Calculations on ints and floats

##### Addition

In [2]:
num1 = 5
num2 = 7
print (num2 + num1)

12

##### Subtraction

In [3]:
print (num2 - num1)

2

##### Multiplication

In [4]:
print (num2 * num1)

35

##### Division

In [7]:
print (int((num2 * num1)/5))

7

##### Floor Division

In [8]:
print (num2 // num1)

1

##### Modulo

In [9]:
print (11 % 2)

1

##### Exponential

In [11]:
print (5 ** 2)

25

### String Input-Output

##### String Assignment

In [12]:
name = 'Dylan'
print(name)

Dylan

##### print() <br>
<p>Don't forget about end=' '</p>

In [13]:
print('Full name: ', name, end= " Smith")

Full name:  Dylan Smith

##### String Concatenation

In [16]:
l_name = 'Smith'
full_name = name + ' ' + l_name
print(full_name)

Dylan Smith

##### Type Conversion

In [17]:
number = '32'
print(type(number))
int(number)
print(number, ' ', type(number))

<class 'str'>
32   <class 'str'>

##### input()

In [22]:
userAge = int(input('What is your age? '))
print (userAge)
userAge = userAge + 1
print (userAge)

What is your age? 69
69
70

##### format()

In [23]:
results_string = 'You are {} {} and you are getting wiser!'.format(userAge, name)
print(results_string)

You are 70 Dylan and you are getting siser!

##### Old Way (python 2)

In [24]:
result_string2 = 'you are %s and you are getting wiser' %userAge
print(result_string2)

you are 70 and you are getting wiser

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [30]:
make = input('Please provide vehicle make: ')
model = input('Please provide vehicle model: ')
year = input('Please provide vehicle year: ')
color = input('Please provide vehicle color: ')
carInfo = f'You drive a {year} {make.title()} {model.title()}, and the color is {color}.'
print(carInfo)

Please provide vehicle make: honda
Please provide vehicle model: accord
Please provide vehicle year: 2018
Please provide vehicle color: black
You drive a 2018 Honda Accord, and the color is black.

### If Statements

In [36]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1, num2 = 5, 10
num3 = 5

if num1 == num2:
    print('Values are equal.')
else:
    print('Values are not equal.')
    
if num1 <= num3:
    print('Num2 is greater than or equal to num3.')
if num1 == num3:
    print('But they are actually equal')
print(num1 == num3 or num3 == num2)

Values are not equal.
Num2 is greater than or equal to num3.
But they are actually equal
True

##### 'is' keyword

In [37]:
# use the is keyword when checking for same/similar object, but NOT same value
num3 = 55
a = 1
if num3 is 55:
    print("This is the exact number or object.")

This is the exact number or object.

<>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\John\AppData\Local\Temp\ipykernel_12532\2574818370.py:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if num3 is 55:

##### 'in' keyword

In [43]:
charName = 'Max Payne'
if 'Max' in charName:
    print('The character who lost everything.')
    
aList = [1, 2, 3, 69, 420]
if 69 in aList:
    print('Sexy number')
elif 420 in aList:
    print('Special number')
else:
    print('Boring numbers')

The character who lost everything.
Special number

##### 'not in' keyword'

In [44]:
aList = [1, 2, 3, 420]
if 69 not in aList:
    aList.append(69)
    print(aList)
if 420 in aList:
    print('Special number')    
else:
    print('Boring numbers')

[1, 2, 3, 420, 69]
Special number

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [1]:
# userText = input('Please write out a sentence: ')
# if 'p' in userText or 'P' in userText:
#     print("Would you like some carrots with those p's?")
# else:
#     print("You don't seem to like using the letter 'p'.")

num_1, num_2, num_3, num_4 = 15, 3, 10, 3

## Using 'and'/'or' with If Statements

In [4]:
if num_1 / 5 == num_2 and num_3 - 7 == num_4:
    print('True and True')
    
if num_1 > num_2 or num_3 == num_4:
    print('True and False')
    
if num_1 / 5 == num_2 and num_3 - 6 == num_4:
    print('True and True')

True and True
True and False

### Elif Statements

In [12]:
first_name = "Max"
if first_name == 'Smith':
    print('First name Smith')
elif first_name == 'Max':
    print('First name is Max')
else:
    print('See else')

First name is Max

### Else Statements

In [ ]:
# see above

### For Loops

In [17]:
name = 'Joel Carter'
count = 0

# for letter in name:
#     print(letter)
#     count = count + 1
# print(count)

for i in range(len(name)):
    print(i, ' ', name[i])

0   J
1   o
2   e
3   l
4
5   C
6   a
7   r
8   t
9   e
10   r

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [18]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [19]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [20]:
for i in range(20):
    if i == 5:
        pass
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Double For Loops

In [23]:
for setNum in range(20):
    for num in range(10):
        print(setNum, num)

0 0
0 1
0 2
0 3
0 4
0 5
0 6
0 7
0 8
0 9
1 0
1 1
1 2
1 3
1 4
1 5
1 6
1 7
1 8
1 9
2 0
2 1
2 2
2 3
2 4
2 5
2 6
2 7
2 8
2 9
3 0
3 1
3 2
3 3
3 4
3 5
3 6
3 7
3 8
3 9
4 0
4 1
4 2
4 3
4 4
4 5
4 6
4 7
4 8
4 9
5 0
5 1
5 2
5 3
5 4
5 5
5 6
5 7
5 8
5 9
6 0
6 1
6 2
6 3
6 4
6 5
6 6
6 7
6 8
6 9
7 0
7 1
7 2
7 3
7 4
7 5
7 6
7 7
7 8
7 9
8 0
8 1
8 2
8 3
8 4
8 5
8 6
8 7
8 8
8 9
9 0
9 1
9 2
9 3
9 4
9 5
9 6
9 7
9 8
9 9
10 0
10 1
10 2
10 3
10 4
10 5
10 6
10 7
10 8
10 9
11 0
11 1
11 2
11 3
11 4
11 5
11 6
11 7
11 8
11 9
12 0
12 1
12 2
12 3
12 4
12 5
12 6
12 7
12 8
12 9
13 0
13 1
13 2
13 3
13 4
13 5
13 6
13 7
13 8
13 9
14 0
14 1
14 2
14 3
14 4
14 5
14 6
14 7
14 8
14 9
15 0
15 1
15 2
15 3
15 4
15 5
15 6
15 7
15 8
15 9
16 0
16 1
16 2
16 3
16 4
16 5
16 6
16 7
16 8
16 9
17 0
17 1
17 2
17 3
17 4
17 5
17 6
17 7
17 8
17 9
18 0
18 1
18 2
18 3
18 4
18 5
18 6
18 7
18 8
18 9
19 0
19 1
19 2
19 3
19 4
19 5
19 6
19 7
19 8
19 9

### While Loops

In [26]:
num = 0
while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [ ]:
num = 0
while True:
    if num == 20:
        break
    print(num)
    num += 1

##### While & For Loops Used Together

In [34]:
# num = 0
# while num < 5:
#     print("\n While loop iteration: " + str(num))
    
#     for i in range(2):
#         print('For loop iteration: ', str(i))
#     num += 1

for i in range(2):
    print('\nFor loop iteration: ', str(i))
    num=0
    while num < 5:
        print(f'While loop iteration: ' + str(num))
        
        num += 1
    print(num)

For loop iteration:  0
While loop iteration: 0
While loop iteration: 1
While loop iteration: 2
While loop iteration: 3
While loop iteration: 4
5

For loop iteration:  1
While loop iteration: 0
While loop iteration: 1
While loop iteration: 2
While loop iteration: 3
While loop iteration: 4
5

### Built-In Functions

##### range()

In [40]:
# start, stop, step
# for num in range(2, 20, 2):
#     print(num)
list20 = list(range(20))

##### len()

In [41]:
print(len(list20))
print(len(list(range(100))))
print(len('Joel Strong'))

20
100
11

##### help()

In [42]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance()

In [44]:
type(20)
print(isinstance (20, int))
print(isinstance (20, str))

True
False

##### abs()

In [47]:
print(abs(5), ' ', abs(-5))

5   5

### Try and Except

In [52]:
try:
    number_test = 0
    input_num = int(input('Guess a number: '))
    if input_num != number_test:
        input_num = input_num + number_test
        print(f'Your number is : {input_num}')
except:
    print('That did not work')

Guess a number: 20
Your number is : 20

### Lists

##### Declaring Lists

In [87]:
a_list = []

names = ['james', 'lucas', 'devon', 'shawn', 'john']

print(names)

for name in names:
    print(name.title())

print()
print(names[-1].title())
print(names[-2].title())

['james', 'lucas', 'devon', 'shawn', 'john']
James
Lucas
Devon
Shawn
John

John
Shawn

##### Indexing a List

In [76]:
print(names[0].title(), names[3].title())

James Shawn

##### .append()

In [88]:
print(names, 'before append')
names.append('hayden')
print(f'\n {names} after append')

print(names[-1])

print(names[len(names)-1])

['james', 'lucas', 'devon', 'shawn', 'john'] before append

 ['james', 'lucas', 'devon', 'shawn', 'john', 'hayden'] after append
hayden
hayden

##### .insert()

In [89]:
names.insert(0, "o'ryan")
print(f'\n {names} after insert')

 ["o'ryan", 'james', 'lucas', 'devon', 'shawn', 'john', 'hayden'] after insert

##### .pop()

In [90]:
lucas = names.pop(1)
print(f'\n {names} after pop')
print(f'\n {lucas} item popped from the list')

 ["o'ryan", 'lucas', 'devon', 'shawn', 'john', 'hayden'] after pop

 james item popped from the list

##### .remove()

In [91]:
names.remove ("o'ryan")
print(f'\n {names} after remove')

names.append ("o'ryan")
names.append ("o'ryan")
names.append ("o'ryan")
print(names)

while "o'ryan" in names:
    names.remove("o'ryan")
    
print(names)

 ['lucas', 'devon', 'shawn', 'john', 'hayden'] after remove
['lucas', 'devon', 'shawn', 'john', 'hayden', "o'ryan", "o'ryan", "o'ryan"]
['lucas', 'devon', 'shawn', 'john', 'hayden']

##### del()

In [92]:
del(names[0])
print(names)

['devon', 'shawn', 'john', 'hayden']

##### Concatenating Two Lists

In [93]:
list1, list2 = [1, 2, 3] , [4, 5, 6]
listsCombined = list1 + list2
print(listsCombined)

[1, 2, 3, 4, 5, 6]

##### Lists Within Lists

In [3]:
nestedList = [1, 2, 4, [1, 2, 3]]
print(nestedList[-1][-1])

3

##### Looping Through Lists

In [4]:
# for i in range(len(nestedList)):
#     if isinstance(nestedList[i], list):
#         for element in nestedList[i]:
#             print(element)
#     else:
#         print(nestedList[i])

for element in nestedList:
    print(element)

1
2
4
[1, 2, 3]

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [12]:
num = 0
while num ** 3 < 1000:
    print(num, num ** 3)
    num += 1

0 0
1 1
2 8
3 27
4 64
5 125
6 216
7 343
8 512
9 729

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [12]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

# Expected answers:
# 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97

# Setting starting point at 2 since 1 isn't a prime number

primeNum = []
for num in range(2, 101):
    divFound = 0
    for i in range(2, num):
        if(num % i == 0):
            divFound += 1
            break
    if divFound == 0:
        primeNum.append(num)
print(primeNum)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [ ]:
age = input('What is your age? ')
if int(age) < 18:
    print('Kids')
elif int(age) < 65:
    print('Adults')
else:
    print('Seniors')